/* making the website to be full page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	width: 100%;
}

#header_title{
	font-size: 100%;
}

.overlay{
	font-family: Poppins !important;
	background: white;
	z-index: 666;
	position: absolute;
	top: 0%;
	height: 100vh;
	width: 100%;
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      text-transform: uppercase;
      color: black;
      transform: translate(-50%, -50%);
      font-size: 25px;
      text-align: center;
      font-weight: bolder;
      letter-spacing: 5px;
      width: max-content;
}

/* About section */
.about_dec{
	box-sizing: ;
	z-index: -1;
	/* padding-top:64px!important;
	padding-bottom:64px!important; */
	text-align: center!important;
	width:auto;
	font-family: 'Open Sans', sans-serif;
	height: 200vh;
	position: relative;
	padding:0.01em 16px;
	color: white;
	background-color: #363dc2;
	margin-left:auto;
	margin-right:auto;
}

.about-pic{
	width: 125%;
	height: 400px;
}

.about-part1-dec{
	padding-top: 64px!important;
    padding-bottom: 64px!important;
    height: 100vh;
}

.about-part1-pic-div{
	float:left;
	position: relative;
	width: 50%;
	height: 100%;
	padding: 20px;
	
}

.about-part1-pic-div{
	float:left;
	position: relative;
	width: 50%;
	height: 100%;
	padding: 20px;
	
}

.inner-pic{
	top: 50%;
	left: 60%;
	position: absolute;
	transform: translate(-50%,-50%);
	z-index: 2;
}

.inner-pic-2{
	top: 50%;
	left: 60%;
	position: absolute;
	transform: translate(-48%,-52%);
	z-index: 1;
}

.about-part1-pic{

}



.section-title{
	position: absolute;
	right: 0;
	z-index: 10;
	font-weight: bold;
	font-size: 4em;
	border-bottom: 10px solid #ffff;
	transform: translate(30%,40%);
}


.about-part1-content{
	float: left;
	width: 50%;
	padding: 20px;
	position: relative;
	height: 100%;
}



.inner-part1-content{
	top: 60%;

	position: absolute;
	transform: translate(-15%,-30%);
}

.about-part2-dec{
	
}

.aboutTitle{
	margin-top: 20%;
	font-size: 70px;
	letter-spacing:4px;
}
/* about section end */

header{
	width: 100%;
	background-image: linear-gradient(rgba(0, 170, 255, 0.6), rgba(0, 0, 0, 0.5)),url('../Image/bg4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	position: relative;
	opacity: 0.9;
	/*parallax*/
	background-attachment: fixed;
}

.clearfix::after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}



.row{
	width: 100%;
	top: 0;
	left: 0;
	height: auto;
	transition: 0.3s;
	box-sizing: border-box;
	position: fixed;
	z-index: 60;
}

.nav_black{
	background: rgba(0,0,0,0.6);
}


.hidden{
	opacity: 0;
}

.logo{
	color: white;
	text-align: center;
	position: relative;
	height: auto;
	width: 250px;
	float: left;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 2px;
	margin-bottom: 0px;
	letter-spacing:6px;
	/* font-family: 'Lobster', cursive; */
	font-family: 'Pacifico', cursive;
	/* font-family: 'Kaushan Script', cursive; */
}

.main-nav{
	margin-right: 50px;
	float: right;
	left: 47%;
	margin-top: 6px;
	display: flex;
}

/* navigation setting */
/* .main-nav{
	margin:0;
	padding:0;
	overflow: hidden;
	 background-color: #333;
	get rid of the default point form
	list-style: none;
	margin-top: 30px;
	position: -webkit-sticky; /* Safari
    position: sticky;
	
} */ 

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 60px;

}

.main-nav li a{
	display: block;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	padding: 5px 15px;
	color: #fff; 
	text-decoration: none;
	/* text-transform: uppercase; */
	/* font-size: 90%; */
	font-size: 18px;
	font-weight: 100;
	/* border-bottom: 3px solid #24E4F1; */
}

.main-nav li a:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 0;
	height: 0;
	background: transparent;
	border: 2px solid transparent;
}

.main-nav li a:hover:before{
	animation: animate 0.5s linear forwards alternate;
	 
}
@keyframes animate{
	0%{
		width: 0;
		height: 0;
		border-top-color: #24E4F1;
		border-bottom-color: transparent;
		border-left-color: transparent; 
		border-right-color: transparent; 
	}
	50%{
		width: 100%;
		height: 0;
		border-top-color: #24E4F1;
		border-bottom-color: transparent;
		border-left-color: transparent; 
		border-right-color: #24E4F1; 
	}
	100%{
		width: 100%;
		height: 100%;
		border-top-color: #24E4F1;
		border-bottom-color: transparent;
		border-left-color: transparent; 
		border-right-color: #24E4F1; 
	}
}


.main-nav li a:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 0;
	height: 0;
	background: transparent;
	border: 2px solid transparent;
}

.main-nav li a:hover:after{
	animation: animate2 0.5s linear forwards;
}
@keyframes animate2{
	0%{
		width: 0;
		height: 0;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-left-color: #24E4F1; 
		border-right-color: transparent; 
	}
	50%{
		width: 0;
		height: 100%;
		border-top-color: transparent;
		border-bottom-color: #24E4F1;
		border-left-color: #24E4F1; 
		border-right-color: transparent; 
	}
	100%{
		width: 100%;
		height: 100%;
		border-top-color: transparent;
		border-bottom-color: #19f6e8;
		border-left-color: #19f6e8; 
		border-right-color: transparent; 
	}
}




.main-content-header{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
}

.header_title{
	position: absolute;
	top: 55%;
	left: 30%;
	transform: translate(-50%, -50%);
}

h1{
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
	font-weight: lighter;
}

.btn{
	display: inline-block;
	padding: 10px 50px;
	margin-top: 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}

.btn-full{
	background-color: transparent;
	color: #24E4F1;
	margin-right: 15px;
	border: 1px solid #24E4F1;
}

.btn-full:hover{
	background-color: white;

}

.btn-nav{
	background-color: transparent;
	color: #fff;
	border: 1px solid white;
}

.btn-nav:hover{
	background-color: #24E4F1;
}



/*********Fit screen adjustment**************/
@media only screen and (max-width: 400px) {
	.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      text-transform: uppercase;
      color: black;
      transform: translate(-50%, -50%);
      font-size: 48%;
      text-align: center;
      font-weight: bolder;
      letter-spacing: 2px;
      width: max-content;
	}
}




